body {
    background: teal;
    border: 125px;
    border-color: silver;

}
.recipe-link {
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
       margin-left: 600px;
}
.recipe-link:link {
        color:silver;

}
.recipe-link:visited {
        color:coral;

}
.title {
        color:coral;
        font-size: 72px;
        font-family:Verdana, Geneva, Tahoma, sans-serif; 
        text-align: center;
}